.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #e6e6e6;
}

.navbar h1 {
    font-size: 30px;
    color: var(--heading_color);
}

.navbar a {
    text-decoration: none;
    margin-right: auto;

}
.navbar_links {
    display: flex;
    align-items: center;
}
.navbar_links > a {
    font-size: 20px;
    color: var(--body_color);
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.3s ease-in-out;
}

.navbar_links > a:hover {
    color: var(--heading_color);
}

.navbar_links > a.active {
    color: var(--heading_color);
    font-weight: 600;
}

.navbar > a {
    text-decoration: none;
}
